<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
{% if not login %}
   <form action="/myweb/" method="post">
        {%csrf_token%}
        <input type="text" name="username1">
        <input type="password" name="password1">
        <input type="submit" value="登录">
    </form>
{% else %}
    <a href="/myweb/openAdd/">添加</a>
    <a href="/myweb/openQuery/">查询</a>
    <a href="/myweb/openupLoad/">上传</a>
    <table border="1px" width="100%" style="border-collapse: collapse;" method="POST">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>照片</th>
            <th>二维码</th>
            <th>学院</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in ls %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.username }}</td>
                <td>{{ row.selfimg }}</td>
                <td>{{ row.code }}</td>
                <td>{{ row.faculty }}</td>
                <td>
                    <a  href="/myweb/deleteUser/?id={{ row.id }}">删除</a>

                    <a  href="/myweb/openEdit/?id={{ row.id }}">编辑</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endif %}

</body>
</html>