<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
</head>
<body>
    <form action="/myweb/updateUser/" method="GET">
        {%csrf_token%}
    学号：<input  name="id" value="{{ m.id }}">
    姓名：<input name="username" value="{{ m.username }}"><br>
    照片：<input name="selfimg"  value="{{ m.selfimg }}"><br>
    二维码：<input name="code"  value="{{ m.code }}"><br>
    学院：<input name="faculty"  value="{{ m.faculty }}"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>